@import '../../sass/variable.scss';

.footer-container {
  height: 4rem;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    text-decoration: none;

    span {
      color: rgba(1, 1, 1, 0.5);
    }
  }
}

a.active span {
  color: $primary-color;
}
