@import '../../sass/variable';

.nav-container {
    position: fixed;
    display: flex;
    color: #fff;
    padding: 1rem;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    height: 5rem;

    .nav-info {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding-right: 1rem;
        box-sizing: border-box;

        &-title {
            display: flex;
            font-size: 1.3rem;
            @extend .ellipsis;
        }

        .animation-text {
            animation: gundong 10s linear infinite;
        }

        &-desc {
            letter-spacing: 1px;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

@keyframes gundong {
    0% {
        transform: translateX(0);
    }

    70% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}